---
import { materias } from "@/libs/escuela-crecimiento";
import { Icon } from "astro-icon/components";
---

<h3 class="mb-2 text-xl font-bold">Queremos verte crecer...</h3>

<p class="mb-4">
  Ofrecemos un camino ordenado y sistemático donde conocerás todos los aspectos
  fundamentales para tu nueva vida cristiana.
</p>

<h4 class="mb-2 text-xl font-bold">Materias</h4>

<ol>
  {
    materias.map(({ titulo, parrafos }) => (
      <li class="mb-4">
        <div class="flex items-center gap-2 mb-1">
          <Icon class="text-yellow-500 text-xl" name="book" />
          <span class="font-bold">{titulo}:</span>
        </div>
        {parrafos.map((parrafo) => (
          <p class="pl-7 mb-1">{parrafo}</p>
        ))}
      </li>
    ))
  }
</ol>
