<h3>Queremos verte crecer...</h3>

<p>
  Ofrecemos un camino ordenado y sistemático donde conocerás todos los aspectos
  fundamentales para tu nueva vida cristiana.
</p>

<h4>Materias</h4>

<ol>
  <li>Primeros pasos: <p></p></li>
  <li>Comunidad: <p></p></li>
  <li>Madurez: <p></p></li>
  <li>Ministerio: <p></p></li>
  <li>Liderazgo: <p></p></li>
</ol>
