---
import { ministerios } from "../../libs/ministerios";
import MiniterioCard from "../miniterio-card.astro";
---

<div class="grid gap-4 lg:grid-cols-2 lg:gap-8">
  {
    ministerios
      .sort((a, b) => {
        if (a.titulo < b.titulo) return -1;
        if (a.titulo > b.titulo) return 1;
        return 0;
      })
      .map((ministerio) => <MiniterioCard {...ministerio} />)
  }
</div>
