---
import BaseLayout from "@/layouts/base.astro";
---

<BaseLayout>
  <section class="container min-h-screen py-24">
    <h2>donaciones</h2>
    <div class="flex gap-2 p-10">
      <div class="w-1/2 h-52 bg-blue-600"></div>
      <div class="w-1/2 h-52 bg-blue-600"></div>
    </div>
  </section>
</BaseLayout>
