---
import MercadoPago from "@/components/mercado-pago.astro";
import BaseLayout from "@/layouts/base.astro";
import Section from "@/layouts/section.astro";
---

<BaseLayout>
  <Section id="donaciones" padding>
    <section class="min-h-screen">
      <p class="mb-4">La Biblia revela el corazon y la mente del Señor.</p>
      <p class="mb-4">
        Jesús dijo:
        <italic class="italic">
          hay mas bendicion en dar que en recibir.
        </italic>
      </p>

      <p class="italic hidden lg:block">
        Traigan todos los diezmos al depósito del templo, para que haya
        suficiente comida en mi casa. Si lo hacen —dice el SEÑOR de los
        Ejércitos Celestiales—, les abriré las ventanas de los cielos.
        ¡Derramaré una bendición tan grande que no tendrán suficiente espacio
        para guardarla! ¡Inténtenlo! ¡Pónganme a prueba! Malaquias 3:10
      </p>

      <p class="font-bold mt-6 mb-10">
        Si queres hacer una donacion, dar una ofrenda o enviar tus diezmos,
        podrás hacerlo de manera online.
      </p>
      
      <div class="flex flex-col justify-center gap-8 w-full lg:flex-row">
        <MercadoPago />

        <img src="/mp_QR.webp" alt="qr mercado pago" class="lg:inline-block" />
      </div>
    </section>
  </Section>
</BaseLayout>

<script>
  import "@/scripts/donaciones";
</script>
