---
import MercadoPago from "@/components/mercado-pago.astro";
import BaseLayout from "@/layouts/base.astro";
import Section from "@/layouts/section.astro";
---

<BaseLayout>
  <Section id="donaciones">
    <section class="min-h-screen py-24">
      <h2 class="text-4xl font-bold uppercase text-center mb-8">donaciones</h2>

      <MercadoPago />
    </section>
  </Section>
</BaseLayout>

<script>
  import "@/scripts/donaciones";
</script>
