---
import MercadoPago from "@/components/mercado-pago.astro";
import BaseLayout from "@/layouts/base.astro";
import Section from "@/layouts/section.astro";
---

<BaseLayout>
  <Section id="donaciones">
    <section class="min-h-screen">
      <!-- <h2 class="text-4xl font-bold uppercase text-center mb-8">donaciones</h2> -->

      <p class="mb-4">La Biblia revela el corazon y la mente del Señor.</p>
      <p class="mb-4">
        Jesús dijo:
        <italic class="italic">
          hay mas bendicion en dar que en recibir.
        </italic>
      </p>

      <p class="italic hidden lg:block">
        Traigan todos los diezmos al depósito del templo, para que haya
        suficiente comida en mi casa. Si lo hacen —dice el SEÑOR de los
        Ejércitos Celestiales—, les abriré las ventanas de los cielos.
        ¡Derramaré una bendición tan grande que no tendrán suficiente espacio
        para guardarla! ¡Inténtenlo! ¡Pónganme a prueba! Malaquias 3:10
      </p>

      <p class="font-bold mt-6 mb-10">
        Si queres hacer una donacion, dar una ofrenda o enviar tus diezmos,
        podrás hacerlo de manera online.
      </p>

      <MercadoPago />
    </section>
  </Section>
</BaseLayout>

<script>
  import "@/scripts/donaciones";
</script>
