---
import BaseLayout from "@/layouts/base.astro";
---

<BaseLayout>
  <section class="container min-h-screen py-24">
    <h2>donaciones</h2>
    <div class="flex gap-2 p-10">
      <div class="w-1/2 h-52">
        <h3>IGLESIA JESUCRISTO MI ESPERANZA SUNCHALES</h3>
        <p><strong>CVU:</strong> 0000003100096132904501</p>
        <p><strong>Alias:</strong> iglesia.ijme.sun</p>
        <p><strong>CUIT/CUIL:</strong> 30718147855</p>
        <p>Mercado Pago</p>
      </div>
      <div class="w-1/2 h-52 bg-blue-600"></div>
    </div>
  </section>
</BaseLayout>
