---
import Ministerios from "../components/sections/ministerios.astro";
import Hero from "../components/sections/hero.astro";
import BaseLayout from "../layouts/base.astro";
import Section from "../layouts/section.astro";
import Nosotros from "../components/sections/nosotros.astro";
import Faq from "../components/react/faq";
import Galeria from "@/components/react/galeria";
import EscuelaCrecimiento from "@/components/sections/escuela-crecimiento.astro";
---

<BaseLayout>
  <Hero />

  <Section id="galeria">
    <Galeria client:load />
  </Section>

  <Section id="ministerios" title="ministerios" padding>
    <Ministerios />
  </Section>

  <Section id="nosotros" title="nosotros" padding>
    <Nosotros />
  </Section>

  <Section id="escuela-crecimiento" title="Escuela Crecimiento">
    <EscuelaCrecimiento />
  </Section>

  <Section id="faq" title="FAQ" padding>
    <Faq client:load />
  </Section>
</BaseLayout>
