---
import Ministerios from "../components/ministerios.astro";
import Hero from "../components/hero.astro";
import BaseLayout from "../layouts/base.astro";
import Section from "../layouts/section.astro";
import Nosotros from "../components/nosotros.astro";
import Faq from "../components/react/faq";
import Galeria from "@/components/react/galeria";
---

<BaseLayout>
  <Hero />

  <Section id="galeria" padding>
    <Galeria client:load />
  </Section>

  <Section id="ministerios" title="ministerios" padding>
    <Ministerios />
  </Section>

  <Section id="nosotros" title="nosotros" padding>
    <Nosotros />
  </Section>

  <Section id="faq" title="FAQ" padding>
    <Faq client:load />
  </Section>
</BaseLayout>
