---
import Nav from "./nav.astro";
import Social from "./social.astro";
---

<footer
  class="flex flex-col items-center gap-11 py-12 bg-slate-800 text-slate-200"
>
  <div class="hidden lg:block">
    <Nav />
  </div>

  <div class="flex flex-col items-center gap-4">
    <p>seguinos en:</p>
    <Social />
  </div>
</footer>
