---
import { Icon } from "astro-icon/components";
---

<button class="hamburger lg:hidden">
  <Icon name="hamburger" class="hamburger-icon text-2xl" />
  <Icon name="close" class="text-2xl close-icon hidden" />
</button>