---
import Logo from "./logo.astro";
import Nav from "./nav.astro";
import Social from "./social.astro";
import Hamburger from "./hamburger.astro";
import Radio from "./radio.astro";
---

<header
  class="flex items-center justify-between gap-2 w-full h-24 p-4 z-10 bg-black/90 text-slate-200 lg:px-10"
>
  <div class="flex items-center gap-8">
    <Logo />

    <Nav />
  </div>

  <div
    class="flex items-center justify-between gap-4 w-full sm:gap-7 lg:w-auto lg:gap-6"
  >
    <Radio />

    <Hamburger />
  </div>
</header>
