---
import Radio from "../icons/radio.astro";
import Nav from "./nav.astro";
import Social from "./social.astro";
---

<header>
  <Nav />

  <button
    >Radio
    <Radio />
  </button>

  <Social />
</header>
