---
import Logo from "./logo.astro";
import Nav from "./nav.astro";
import Social from "./social.astro";
import Radio from "./react/radio";
---

<header class="flex items-center justify-between p-4 bg-black text-slate-200">
  <div class="flex items-center gap-8">
    <Logo />

    <Nav />
  </div>

  <div class="flex items-center gap-8">
    <Radio client:load />

    <Social />
  </div>
</header>
