<section id="hero" class="hero-container h-screen">
  <h2>Bienvenido a casa</h2>
  <p>
    Pero recibireis poder cuando haya venido sobre vosotros el Espiritu Santo
  </p>
  <strong>Hechos 1:8</strong>
  <button>Recibir uncion</button>
</section>

<style>
  .hero-container {
    background-image: url("../img/hero.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    /* height: 100vh; */

    box-shadow:
      inset 5rem 10rem 50px #000000cb,
      inset -5rem -10rem 50px #000000cb;
  }
</style>
