---
type Props = { className?: string; href: string; label: string };

const { className, href, label } = Astro.props;
---

<a class={`${className} capitalize hover:underline hover:text-yellow-200 hover:font-medium active:text-yellow-400`} href={href}>{label}</a>
