---
import { Image } from "astro:assets";

type Props = {
  black?: boolean;
};

const { black } = Astro.props;

const logoNegro = "logo-negro.webp";
const logoBlanco = "logo-blanco.webp";
---

<a href="/">
  <Image
    width={73}
    height={73}
    src={`/${black ? logoNegro : logoBlanco}`}
    alt="logo ijme"
    class="w-14 min-w-11"
    loading="eager"
    decoding="async"
  />
</a>
