---
import { navigation } from "@/libs/navigation";
import Link from "./link.astro";
---

<nav>
  <ul class="nav-links items-center gap-4 flex">
    {
      navigation.map((link) => (
        <li>
          <Link {...link} />
        </li>
      ))
    }
  </ul>
</nav>

<style>
  a {
    @apply capitalize;
  }
</style>
