---
import { navigation } from "@/libs/navigation";
import Link from "./link.astro";
---

<nav
  class="absolute top-24 left-0 p-4 h-full -translate-x-full bg-black/95 lg:block lg:relative lg:top-0 lg:translate-x-0 lg:bg-transparent"
>
  <ul class="flex flex-col gap-4 lg:flex-row">
    {
      navigation.map((link) => (
        <li>
          <Link {...link} />
        </li>
      ))
    }
  </ul>
</nav>

<style>
  /* terminar esta animacion para movile */
  .show-nav {
    animation: nav-hidden-to-right 0.5s ease-in;
  }

  @keyframes nav-hidden-to-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .hidden-nav {
    animation: nav-from-right-to-hidden 0.5s ease-in;
  }

  @keyframes nav-from-right-to-hidden {
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(-100%);
    }
  }
</style>
