<nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/#ministerios">Ministerios</a></li>
    <li><a href="/#escuela-crecimiento">Escuela Crecimiento</a></li>
    <li><a href="/#nosotros">Nosotros</a></li>
    <li><a href="/#faq">FAQ</a></li>
    <li><a href="/donaciones">donaciones</a></li>
  </ul>
</nav>

<style>
  ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
</style>
