---
import { Icon } from "astro-icon/components";

const urlRadio = "http://radio02.ferozo.com:8144/;stream/1";
---

<div>
  <audio src={urlRadio} id="audio"></audio>

  <button id="play" class="mostrar">radio play 
    <!-- <Icon name="play" /> -->
  </button>

  <button id="stop" class="ocultar">radio stop 
    <!-- <Icon name="stop" /> -->
  </button>
</div>

<script>
  import "@/scripts/reproductor-radio.ts";
</script>

<style>
  .ocultar {
    display: none;
  }

  .mostrar {
    display: block;
  }
</style>
