---
import SocialLink from "./social-link.astro";
import { socialNavigation } from "../libs/social-navigation";
---

<ul class="flex gap-3 text-2xl">
  {
    socialNavigation.map(({ href, icono }) => (
      <li>
        <SocialLink href={href} icono={icono} />
      </li>
    ))
  }
</ul>
