---
import { Icon } from "astro-icon/components";
---

<ul class="flex gap-3 text-2xl">
  <li>
    <a href="https://www.instagram.com/ijmesunchales/" target="_blank">
      <Icon name="instagram" />
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/@ijmesunchales7018" target="_blank">
      <Icon name="youtube" />
    </a>
  </li>
</ul>
