---
import Instagram from "../icons/instagram.astro";
import Youtube from "../icons/youtube.astro";
---
<ul>
  <li>
    <a href="https://www.instagram.com/ijmesunchales/" target="_blank">
      <Instagram />
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/@ijmesunchales7018" target="_blank">
      <Youtube />
    </a>
  </li>
</ul>