---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import "@/global.css";
import "@fontsource/montserrat";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.svg" type="image/x-icon" />
    <title>Ijme Sunchales</title>
  </head>
  <body>
    <Header />

    <div>
      <slot />

      <Footer />
    </div>

    <script>
      import "@/scripts/menu.ts";
      import "@/scripts/reproductor-radio";
    </script>
  </body>
</html>
