<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ijme Sunchales</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/#ministerios">Ministerios</a></li>
				<li><a href="/#escuela-crecimiento">Escuela Crecimiento</a></li>
				<li><a href="/#faq">FAQ</a></li>
				<li><a href="/donaciones">donaciones</a></li>
				<li><a href="/radio">Radio</a></li>
			</ul>
		</nav>

		<ul>
			<li><a href="instagram">Instagram</a></li>
			<li><a href="youtube">Youtube</a></li>
		</ul>
	</header>

	<slot />

	<footer>
		
	</footer>
</body>
</html>