---
type Props = {
  id: string;
  title?: string;
  padding?: boolean;
};

const { id, title, padding } = Astro.props;
---

<section class="py-11 px-2 sm:px-6 even:bg-gray-200" id={id}>
  {
    title ? (
      <h2 class="text-4xl font-bold uppercase text-center mb-8">{title}</h2>
    ) : null
  }
  <div class={padding ? "max-w-6xl mx-auto" : ""}>
    <slot />
  </div>
</section>
